{% spaceless %}

{% set menu = code_to_menu('SETTING') %}

{% set startNumber = start_page_number() %}

{% for key, data in settings %}
    <tr>
        <td class="text-right">{{ (key + startNumber)  }}</td>
        <td>{{ data.parameter }}</td>
        <td>{{ data.value }}</td>
        <td>
            {% if is_admin() and data.deleted %}
                <button data-primary="{{ data.id }}" class="btn btn-success restore margin-r-5"><i class="fa fa-recycle"></i></button>
            {% endif %}
            {% if is_granted('edit', menu) and false == data.deleted %}
                <button data-primary="{{ data.id }}" class="btn btn-instagram edit margin-r-5"><i class="fa fa-edit"></i></button>
            {% endif %}
            {% if is_granted('delete', menu) and false == data.deleted %}
                <button data-primary="{{ data.id }}" class="btn btn-warning delete"><i class="fa fa-remove"></i></button>
            {% endif %}
        </td>
    </tr>
{% endfor %}
{% endspaceless %}
